
<div class="text-center">
  <img src="assets/img/LOGO-INFODEC.png" width="10%">
  <p>Prueba angular</p>
 
</div>

<div *ngIf="vista1==true"
    class="container w-50 border p-4  animate__animated  animate__slideInLeft"
    style="margin-top: 20px; background-color: #e9f5fc;">

    <app-inicio-input
      (onEnter)="buscar($event)"
    ></app-inicio-input>
    <br/>
    <div class="card mb-3 w-10" style="max-width: 540px">
      <div class="row" *ngFor="let dato of perfil"> 
        <div class="col-md-4">
          <img src="assets/img/perfil.jpg" class="img-fluid border" width="250px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Datos Personales</h5>
            <p class="card-text"><strong>Nombre: </strong>{{dato.first_name}} {{dato.last_name}}</p>
            <p class="card-text"><strong>Email: </strong>{{dato.email}}</p>
            <button
            (click)="opcionVista(2)" 
            type="button" 
            class="btn btn-primary">detalle
            </button>
          </div>
        </div>
      </div>
    </div>
</div>


<div *ngIf="vista2==true" class="container w-50 border p-4 animate__animated animate__slideInRight" style="margin-top: 20px; margin-bottom: 20px; background-color:#e9f5fc">
  
  <div class="card mb-3" *ngFor="let dato of perfil">
    <div class="text-center" style="margin-top: 10px;">
      <img src = 'assets/img/perfil.jpg' class="img-fluid border" width="250px">
    </div>
  
    <div class="card-body ">
      <h5 class="card-title text-center"><strong>{{dato.first_name}} {{dato.last_name}}</strong></h5>
      <p class="card-text"><strong>Documento: </strong> 12345678</p>
      <p class="card-text"><strong>Teléfono: </strong> 300555555</p>
      <p class="card-text"><strong>Profesión: </strong>Analista</p>
      <p class="card-text"><strong>Pais: </strong>Colombia</p>
      <p class="card-text"><strong>Ciudad: </strong>Medellin</p>
    </div>
    <br/><br/>
    <button (click)="opcionVista(1)" type="button" class="btn btn-secondary">Regresar</button>
  </div>
</div>

